/* VARIABLES */

/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: 
  url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
  url('../fonts/fraunces-v10-latin-900.woff') format('woff');
}

/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), 
  url('../fonts/barlow-v12-latin-regular.woff') format('woff'); 
}
/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
  url('../fonts/barlow-v12-latin-700.woff') format('woff');
}


:root{
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}

/* GENERAL */

*,
*::before,
*::after{
  box-sizing: inherit;
}


html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif , serif;
  font-size: 16px;
  font-weight: 400;
  line-height: var(--main-line-height);
  background-color: #FEFCF7;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  width: 100%;
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 23px;
  padding-left: 23px;
}

/* STICKY-FOOTER */

.site-main{
  flex-grow: 1;
}



/* HEADER */

.site-header{
  padding: 34px 0px 40px 0px;
  /* position: relative; */
}

.site-header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* top: 100%; */
}

.logo__img{
  width: 100%;
  max-width: 163px;
  height: 18px;
}

.site-header__btn{
  width: 16px;
  height: 15px;
  background-image: url(../images/icons/burger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  transition: all 0.5s ease;
}

.site-header__btn--active{
  width: 16px;
  height: 15px;
  background-image: url(../images/icons/x-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  transition: all 0.5s ease;
}

@keyframes circle-to-square {
  0% {
    width: 100%;
    transform: scale(0);
    opacity: 0;
  }
  50% {
    width: 100%;
    transform: scale(1);
    opacity: 1;
  }
}




.site-header__nav{
  /* display: none; */
  position: absolute;
  z-index: 5;
  top: 50px;
  width: 100%;
  height: calc(105vh - 92px);
  padding-top: 40px;
  background: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
  
  animation-name: circle-to-square;
  animation-duration: 2s;
  animation-iteration-count: none;
  animation-direction: 5s;
  animation-timing-function: ease;
  
}

.nav__list{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__item:not(:last-child){
  margin-bottom: 32px;
}

.nav__link{
  text-decoration: none;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.site-header__inner > .site-header__nav{
  display: none;
}

.site-header__inner--active > .site-header__nav{
  display: block;
}





@media only screen and (min-width:601px){
  
  .site-header__inner > .site-header__nav{
    display: block;
  }
  
  .logo__img{
    width: 100%;
    max-width: 236px;
    height: 26px;
  }
  
  .site-header__btn{
    display: none;
  }
  
  .site-header__nav{
    display: block;
    position: static;
    top: 0px;
    width: auto;
    height: auto;
    padding-top: 0px;
    background: none;
  }
  
  .nav__list{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav__item:not(:last-child){
    margin-right: 32px;
    margin-bottom: 0;
  }
  
  .nav__link{
    text-decoration: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    /* transition: all 0.3s ease; */
  }
  
  
  
}

@media only screen and (min-width:601px){
  .nav__link:hover{
    color: #333D4B;
  }
}




/* ==========HERO======== */

.hero__info{
  background-image: url(../images/hero-min.jpg);
  background-repeat: no-repeat;
  background-size: 327px 500px;
  /* background-position: center; */
  padding: 100px 0px;
  border-radius: 10px;
}

.info__inner{
  padding: 0px 24px;
}

.coffee__title{
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  color: #FEFCF7;
}

.coffee__text{
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.coffee__send{
  margin: 0 auto;
  text-align: center;
}

.coffee__link{
  display: inline-block;
  text-decoration: none;
  padding: 15px 31px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
  transition: all 0.3s ease;
}

@media only screen and (min-width:376px){
  
  .hero__info{
    background-image: url(../images/hero-norm.jpg);
    background-repeat: no-repeat;
    background-size: 689px 500px;
    background-position: center;
  }
  
  .coffee__wrap{
    width: 100%;
    max-width: 329px;
  }
  
  .coffee__title{
    font-size: 40px;
    text-align: start;
  }
  
  .coffee__text{
    font-size: 15px;
    text-align: start;
  }
  
  .coffee__send{
    text-align: start;
  }
  
}

@media only screen and (min-width:399px){
  .coffee__inner{
    width: 100%;
    max-width: 399px;
  }
}

@media only screen and (min-width:475px){
  .coffee__title{
    font-size: 40px;
    line-height: 48px;
  }
}

@media only screen and (min-width:550px){
  .info__inner{
    margin-left: 45px;
  }
}

@media only screen and (min-width:690px){
  
  .hero__info{
    background-image: url(../images/hero-big.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 600px;
    background-position: center;
    padding: 117px 0px;
    border-radius: 10px;
  }
  
  .info__inner{
    margin-left: 85px;
  }
  
  .coffee__title{
    font-size: 48px;
    line-height: 50px;
  }
  
}

@media only screen and (min-width:750px){
  .coffee__wrap{
    width: 100%;
    max-width: 430px;
  }
  
  .coffee__title{
    font-size: 60px;
    line-height: 60px;
  }
}

@media only screen and (min-width:1000px){
  
  .coffee__wrap{
    width: 100%;
    max-width: 493px;
  }
  
  .coffee__title{
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 32px;
  }
  
  .coffee__text{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 55px;
  }
  
  .coffee__link:hover{
    color: #FEFCF7;
    background-color:#66D2CF ;
  }
  
}

/* <!-- Hero section start --> */

.collection{
  padding-top: 170px;
  padding-bottom: 1380px;
}

.collection__wrap{
  background-image: url(../images/collection-min-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 50px;
}

.collection__list{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 70px;
  width: 100%;
}

.collection__item{
  text-align: center;
}

.collection__item--one{
  position: relative;
  margin-bottom: 48px;
}

.collection__item--one::before{
  content: "";
  width: 100%;
  max-width: 200px;
  height: 151px;
  background-image: url(../images/coffee-min-one.png);
  display: inline-block;
  margin-bottom: 24px;
}

.collection__item--two{
  position: relative;
  margin-bottom: 48px;
}

.collection__item--two::before{
  content: "";
  width: 100%;
  max-width: 200px;
  height: 151px;
  background-image: url(../images/coffee-min-two.png);
  display: inline-block;
  margin-bottom: 24px;
}

.collection__item--thre{
  position: relative;
  margin-bottom: 48px;
}

.collection__item--thre::before{
  content: "";
  width: 100%;
  max-width: 200px;
  height: 151px;
  background-image: url(../images/coffee-min-thre.png);
  display: inline-block;
  margin-bottom: 24px;
}

.collection__item--four{
  position: relative;
}

.collection__item--four::before{
  content: "";
  width: 100%;
  max-width: 200px;
  height: 151px;
  background-image: url(../images/coffee-min-four.png);
  display: inline-block;
  margin-bottom: 24px;
}




.collection__info{
  width: 100%;
  max-width: 282px;
  margin: 0 auto;
}

.collection__title{
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.collection__text{
  margin: 0;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333D4B;
}

@media only screen and (min-width:415px){
  .collection__wrap{
    padding-top: 70px;
  }
}

@media only screen and (min-width:565px){
  .collection__wrap{
    padding-top: 100px;
  }
}

@media only screen and (min-width:630px){
  .collection__item--one{
    position: relative;
    margin-bottom: 48px;
  }
  
  .collection__item--one::before{
    content: "";
    width: 256px;
    height: 193px;
    background-image: url(../images/coffee-big-one.png);
    display: inline-block;
    margin-bottom: 24px;
  }
  
  .collection__item--two{
    position: relative;
    margin-bottom: 48px;
  }
  
  .collection__item--two::before{
    content: "";
    width: 256px;
    height: 193px;
    background-image: url(../images/coffee-big-two.png);
    display: inline-block;
    margin-bottom: 24px;
  }
  
  .collection__item--thre{
    position: relative;
    margin-bottom: 48px;
  }
  
  .collection__item--thre::before{
    content: "";
    width: 256px;
    height: 193px;
    background-image: url(../images/coffee-big-thre.png);
    display: inline-block;
    margin-bottom: 24px;
  }
  
  .collection__item--four{
    position: relative;
  }
  
  .collection__item--four::before{
    content: "";
    width: 256px;
    height: 193px;
    background-image: url(../images/coffee-big-four.png);
    display: inline-block;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width:630px){
  
  .collection{
    padding-top: 170px;
    padding-bottom: 985px;
  }
  
  .collection__wrap{
    background-image: url(../images/collection-norm-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100px;
  }
  
  .collection__list{
    top: 55px;
  }
  
  .collection__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45;
  }
  
  .collection__item--one::before{
    content: "";
    width: 256px;
    height: 193px;
    background-image: url(../images/coffee-big-one.png);
    display: inline-block;
    margin-bottom: 0px;
  }
  
  .collection__item--two::before{
    content: "";
    width: 256px;
    height: 193px;
    background-image: url(../images/coffee-big-two.png);
    display: inline-block;
    margin-bottom: 0px;
  }
  
  .collection__item--thre::before{
    content: "";
    width: 256px;
    height: 193px;
    background-image: url(../images/coffee-big-thre.png);
    display: inline-block;
    margin-bottom: 0px;
  }
  
  .collection__item--four::before{
    content: "";
    width: 256px;
    height: 193px;
    background-image: url(../images/coffee-big-four.png);
    display: inline-block;
    margin-bottom: 0px;
  }
  
  .collection__info{
    margin: 0;
  }
}

@media only screen and (min-width:750px){
  
  .collection__wrap{
    background-image: url(../images/collection-norm-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 120px;
  }
}

@media only screen and (min-width:900px){
  
  .collection__info{
    margin-left: 70px;
  }
  
  .collection__wrap{
    padding-top: 145px;
  }
  
}

@media only screen and (min-width:1000px){
  
  .collection__info{
    margin-left: 100px;
  }
  
}

@media only screen and (min-width:1024px){
  
  .collection{
    padding-top: 170px;
    padding-bottom: 505px;
  }
  
  .collection__wrap{
    background-image: url(../images/collection-big-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 160px;
  }
  
  .collection__list{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    top: 112px;
  }
  
  .collection__item{
    flex-direction: column;
  }
  
  .collection__info{
    width: 100%;
    max-width: 245px;
    margin-left: 0;
  }
  
  .collection__item--one::before{
    content: "";
    width: 220px;
    height: 193px;
    background-image: url(../images/coffee-big-one.png);
    display: inline-block;
    margin-bottom: 70px;
  }
  
  .collection__item--two::before{
    content: "";
    width: 220px;
    height: 193px;
    background-image: url(../images/coffee-big-two.png);
    display: inline-block;
    margin-bottom: 70px;
  }
  
  .collection__item--thre::before{
    content: "";
    width: 220px;
    height: 193px;
    background-image: url(../images/coffee-big-thre.png);
    display: inline-block;
    margin-bottom: 70px;
  }
  
  .collection__item--four::before{
    content: "";
    width: 220px;
    height: 193px;
    background-image: url(../images/coffee-big-four.png);
    display: inline-block;
    margin-bottom: 70px;
  }
  
}

@media only screen and (min-width:1080px){
  
  .collection__wrap{
    background-image: url(../images/collection-big-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 180px;
  }
}

@media only screen and (min-width:1150px){
  
  .collection__wrap{
    background-image: url(../images/collection-big-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 180px;
  }
}

@media only screen and (min-width:1170px){
  
  .collection__wrap{
    background-image: url(../images/collection-big-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 198px;
  }
}

@media only screen and (min-width:1250px){
  
  .collection__wrap{
    background-image: url(../images/collection-big-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 210px;
  }
  
  .collection__list{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    top: 140px;
  }
  
  .collection__item--one::before{
    content: "";
    width: 255px;
    height: 193px;
    background-image: url(../images/coffee-big-one.png);
    display: inline-block;
    margin-bottom: 70px;
  }
  
  .collection__item--two::before{
    content: "";
    width: 255px;
    height: 193px;
    background-image: url(../images/coffee-big-two.png);
    display: inline-block;
    margin-bottom: 70px;
  }
  
  .collection__item--thre::before{
    content: "";
    width: 255px;
    height: 193px;
    background-image: url(../images/coffee-big-thre.png);
    display: inline-block;
    margin-bottom: 70px;
  }
  
  .collection__item--four::before{
    content: "";
    width: 255px;
    height: 193px;
    background-image: url(../images/coffee-big-four.png);
    display: inline-block;
    margin-bottom: 70px;
  }
  
}


/* ======Choose========= */

.choose__info{
  padding: 64px 24px 610px 24px;
  background-color:  #2C343E;
  border-radius: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 770px;
}

.choose__wrap{
  width: 100%;
  max-width: 279px;
  position: relative;
  margin: 0 auto;
}

.choose__title{
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  line-height: 28px;
  text-align: center;
  color: #FEFCF7;
}

.choose__text{
  margin: 0;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}


.choose__list{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 320px;
  left: 0;
  right: 0;
}

.quality__item{
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 72px 33.5px 51px 33.5px;
  background-color: #0E8784;
  border-radius: 8px;
  
}

.quality__link{
  text-decoration: none;
  position: relative;
}


.quality__link--one::before{
  content: "";
  display: block;
  width: 71px;
  height: 72px;
  margin: 0 auto;
  background-image: url(../images/icons/coffee-choose-one.svg);
  margin-bottom: 56px;
}

.quality__link--two::before{
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  margin: 0 auto;
  background-image: url(../images/icons/coffee-choose-two.svg);
  margin-bottom: 56px;
}

.quality__link--thre::before{
  content: "";
  display: block;
  width: 72px;
  height: 50px;
  margin: 0 auto;
  background-image: url(../images/icons/coffee-choose-thre.svg);
  margin-bottom: 56px;
}

.quality__info{
  width: 100%;
  max-width: 212px;
  margin: 0 auto;
}

.quality__title{
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}

.quality__text{
  margin: 0;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
}

@media only screen and (min-width:375px){
  .quality__item{
    width: 100%;
    max-width: 279px;
  }
  
  .quality__title{
    font-size: 19px;
    line-height: 32px;
  }
}

@media only screen and (min-width:500px){
  
  .choose__wrap {
    width: 100%;
    max-width: 370px;
  }
  
  .quality__item{
    width: 100%;
    max-width: 279px;
  }
  
  .choose__title{
    font-size: 30px;
    line-height: 30px;
  }
  
  .quality__item{
    width: 100%;
    max-width: 410px;
  }
  
  .quality__title{
    font-size: 30px;
    line-height: 30px;
  }
  
  .quality__info {
    width: 100%;
    max-width: 300px;
  }
}

@media only screen and (min-width:601px){
  
  .choose__wrap {
    width: 100%;
    max-width: 440px;
  }
  
  .quality__item{
    width: 100%;
    max-width: 279px;
  }
  
  .choose__title{
    font-size: 31px;
    line-height: 35px;
  }
  
  .quality__item{
    width: 100%;
    max-width: 510px;
  }
  
  
  
  .quality__title{
    font-size: 32px;
    line-height: 32px;
  }
  
  .quality__info {
    width: 100%;
    max-width: 400px;
  }
}

@media only screen and (min-width:768px){
  
  .choose__info {
    padding: 64px 24px 120px 24px;
  }
  
  .choose__wrap {
    width: 100%;
    max-width: 540px;
  }
  
  .quality__item{
    width: 100%;
    padding: 41px 48px 41px 70px;
  }
  
  .choose__title{
    font-size: 32px;
    line-height: 48px;
  }
  
  .choose__text{
    font-size: 15px;
    line-height: 25px;
  }
  
  .quality__item{
    width: 100%;
    max-width: 590px;
  }
  
  .quality__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .quality__link--one::before , .quality__link--two::before , .quality__link--thre::before{
    margin-bottom: 0;
    margin-right: 50px;
  }
  
  .quality__title{
    text-align: start;
    font-size: 32px;
    line-height: 32px;
  }
  
  .quality__text{
    text-align: start;
  }
  
  .quality__info {
    width: 100%;
    max-width: 344px;
  }
}

@media only screen and (min-width:900px){
  .quality__item{
    width: 100%;
    max-width: 760px;
  }
}

@media only screen and (min-width:1000px){
  .quality__item{
    width: 100%;
    max-width: 800px;
  }
}

@media only screen and (min-width:1024px){
  
  .choose__info {
    padding: 70px 24px 335px 24px;
    margin-bottom: 350px;
  }
  
  .choose__title{
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  
  .choose__list{
    display: flex;
    justify-content: center;
  }
  
  .quality__item{
    width: 100%;
    max-width: 300px;
    padding: 72px 50px 48px 53px;
    margin-bottom: 0;
    margin: 0 ;
  }
  
  .quality__item:nth-child(2){
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .quality__link{
    flex-direction: column;
  }
  
  .quality__link--one::before , .quality__link--two::before , .quality__link--thre::before{
    margin-right: 0px;
    margin: 0 auto; 
    margin-bottom:56px;
  }
  
  .quality__link--thre::before {
    width: 72px;
    height: 77px;
    background-image: url(../images/icons/coffee-choose-thre.svg);
    background-repeat: no-repeat;
    
  }
  
  .quality__title{
    text-align: center;
    font-size: 21px;
    line-height: 30px;
  }
  
  .quality__text{
    text-align: center;
  }
  
}


@media only screen and (min-width:1200px){
  .quality__item{
    width: 100%;
    max-width: 350px;
    padding: 72px 48px 48px 48px;
  }
  
  .quality__info {
    width: 100%;
    max-width: 255px;
  }
  
  .quality__title{
    font-size: 24px;
    line-height: 32px;
  }
  
  .quality__text{
    
  }
  
}

/* ============works========== */

.works{
  padding-bottom: 120px;
}

.works__title{
  margin: 0;
  margin-bottom: 80px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #83888F;
}

.works__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.receive__item:not(:last-child){
  margin-bottom: 55px;
}

.receive__item:last-child{
  margin-bottom: 80px;
  
}

.receive__item--one{
  position: relative;
}

.receive__item--one::before{
  content: "";
  width: 90px;
  height: 72px;
  background-image: url(../images/icons/one.svg);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.receive__item--two::before{
  content: "";
  width: 101px;
  height: 72px;
  background-image: url(../images/icons/two.svg);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}


.receive__item--thre::before{
  content: "";
  width: 98px;
  height: 72px;
  background-image: url(../images/icons/thre.svg);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.receive__title{
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.receive__text{
  margin: 0;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: #333D4B;
}

.works__box{
  display: flex;
  justify-content: center;
}

.box__link{
  display: inline-block;
  text-decoration: none;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 15px 31px;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
  transition: all 0.3s ease;
}

@media only screen and (min-width:375px){
  
  .receive__item{
    width: 100%;
    max-width: 450px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  
  .receive__title{
    font-size: 28px;
    line-height: 32px;
  }
  
  .receive__text{
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (min-width:768px){
  
  .works__title{
    text-align: start;
    margin-bottom: 55px;
    margin-left: 30px;
  }
  
  .works__list{
    display: flex;
    align-items: flex-start;
    padding-top: 60px;
    position: relative;
    
  }
  
  .works__list::before{
    content: "";
    width: 568px;
    height: 32px;
    top: -16px;
    left: 28px;
    background-image: url(../images/icons/span.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
  
  .receive__item{
    width: 100%;
    max-width: 223px;
    padding:  0px;
    margin: 0 auto;
  }
  
  .receive__item:nth-child(1){
    margin-left: 30px;
  }
  
  .receive__item--one::before{
    display: inline-block;
  }
  
  .receive__item--two::before{
    display: inline-block;
  }
  
  .receive__item--thre::before{
    content: "";
    width: 98px;
    height: 72px;
    background-image: url(../images/icons/thre.svg);
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 42px;
  }
  
  .receive__item--thre::before {
    content: "";
    width: 98px;
    height: 55px;
  }
  
  .receive__title{
    text-align: start;
    
  }
  
  .receive__text{
    text-align: start;
  }
  
  .works__box{
    justify-content: flex-start;
    margin-left: 30px;
  }
  
}

@media only screen and (min-width:1024px){
  .works{
    padding-bottom: 200px;
  }
  .works__title{
    margin-bottom: 95px;
    margin-left: 90px;
  }
  
  .works__list{
    width: 100%;
    max-width: 1045px;
    padding-top: 82px;
    margin-bottom: 64px;
    /* margin-left: 60px; */
  }
  
  .receive__item{
    width: 100%;
    max-width: 285px;
  }
  
  .receive__item--one::before{
    margin-bottom: 38px;
  }
  
  .receive__item--two::before{
    margin-bottom: 38px;
  }
  
  .receive__item--thre::before{
    margin-bottom: 50px;
  }
  
  .works__list::before{
    content: "";
    width: 100%;
    max-width: 743px;
    height: 32px;
    top: -16px;
    left: 28px;
    background-image: url(../images/icons/big-span.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
  
  .receive__title{
    width: 230px;
    margin-bottom: 42px;
  }
  
  .works__box{
    margin-left: 90px;
  }
  
  .box__link:hover{
    background-color: #66D2CF;
  }
  
}

@media only screen and (min-width:1200px){
  .works__list{
    margin-left: 60px;
  }
}


/* About page */

.about__unfo {
  background-image: url(../images/about-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 327px 400px;
  /* background-position: center; */
  padding: 78px 0px;
  border-radius: 10px;
}

@media only screen and (min-width: 376px) {
  .about__unfo{
    
    background-image: url(../images/about-tablet.jpg);
    background-repeat: no-repeat;
    background-size: 689px 400px;
    background-position: center;
    border-radius: 10px;
  }
  
}

@media only screen and (min-width: 690px){
  .about__unfo {
    background-image: url(../images/about-destop.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 450px;
    background-position: center;
    padding: 106px 0px;
    border-radius: 10px;
  }
  
  .coffee__title--about{
    font-size: 40px;
    line-height: 48px;
  }
  
}



/* Commit page */

.commit{
  padding: 120px 0px 200px 0px;
}

.commit__picture{
  margin-bottom: 48px;
}

.pic__img{
  width: 100%;
  max-width: 275px;
  margin: 0 auto;
}

.commit__title{
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #333D4B;
}

.commit__text{
  margin: 0;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}


@media only screen and (min-width: 425px){
  .pic__img{
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
  }
  
  .commit__info{
    padding: 0 20px;
  }
}

@media only screen and (min-width: 600px){
  .pic__img{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .commit__info{
    padding: 0 40px;
  }
  
}

@media only screen and (min-width: 768px){
  .commit{
    padding: 140px 0px 270px 0px;
  }
  
  
  .commit__inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .commit__picture{
    margin-bottom: 0;
  }
  
  .pic__img{
    width: 100%;
    min-width: 281px;
    height: 470px;
    margin: 0 auto;
  }
  
  .commit__info{
    width: 100%;
    max-width: 340px;
    padding: 0 ;
  }
  
}

@media only screen and (min-width: 1024px){
  
  
  .commit{
    padding: 160px 0px 240px 0px;
  }
  
  .pic__img{
    width: 100%;
    min-width: 445px;
    height: 520px;
    margin: 0 auto;
  }
  
  .commit__info{
    text-align: start;
    width: 100%;
    max-width: 540px;
    padding: 0 30px;
  }
  
  .commit__title{
    margin-bottom: 32px;
    text-align: start;
    font-size: 40px;
    line-height: 48px;
  }
  
  .commit__text{
    text-align: start;
    font-size: 16px;
    line-height: 26px;
  }
  
  
}


/* ======mising======== */

.mising{
  padding-bottom: 120px;
}

.mising__info{
  position: relative;
  z-index: 3;
  background-color: #2C343E;
  border-radius: 10px;
  padding: 142px 24px 61px 24px;
}

.mising__img{
  width: 100%;
  max-width: 230px;
  height: auto;
  position: absolute;
  z-index: 3;
  top: -50px;
  right: 8%;
}



.mising__title{
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  color: #FEFCF7;
}

.mising__text{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}







@media only screen and (min-width: 350px){
  .mising__img{
    width: 100%;
    max-width: 230px;
    height: auto;
    position: absolute;
    z-index: 3;
    top: -50px;
    right: 15%;
    
  }
  
}

@media only screen and (min-width: 425px){
  .mising__img{
    width: 100%;
    max-width: 280px;
    height: auto;
    position: absolute;
    z-index: 3;
    top: -65px;
    right: 15%;
    
  }
  
}

@media only screen and (min-width: 525px){
  .mising__img {
    width: 100%;
    max-width: 317px;
    height: auto;
    position: absolute;
    z-index: 3;
    top: -97px;
    right: 20%;
  }
  
}

@media only screen and (min-width: 700px){
  .mising__img {
    width: 100%;
    max-width: 398px;
    height: auto;
    position: absolute;
    z-index: 3;
    top: -132px;
    right: 23%;
  }
  
}

@media only screen and (min-width: 768px){
  .mising{
    padding-bottom: 140px;
  }
  
  .mising__info {
    padding: 220px 74px 65px 74px;
  }
  
  
  .mising__img {
    width: 100%;
    max-width: 573px;
    height: auto;
    position: absolute;
    z-index: 3;
    top: -168px;
    right: 9%;
  }
  
  .mising__title{
    font-size: 32px;
    line-height: 48px;
  }
  
}


@media only screen and (min-width: 850px){
  .mising__img {
    width: 100%;
    max-width: 577px;
    height: auto;
    position: absolute;
    z-index: 3;
    top: -168px;
    right: 17%;
  }
  
}

@media only screen and (min-width: 1024px){
  
  .mising{
    padding-bottom: 160px;
  }
  
  .mising__info {
    padding: 82px 50px 145px 85px;
  }
  
  .mising__wrap{
    width: 100%;
    max-width: 430px;
    text-align: start;
  }
  
  .mising__title{
    font-family: 'Fraunces';
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: start;
    color: #FEFCF7;
  }
  
  .mising__text{
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    text-align: start;
    opacity: 0.8;
  }
  
  .mising__img{ 
    width: 100%;
    max-width: 431px;
    height: auto;
    position: absolute;
    z-index: 3;
    top: -48px;
    right: 3%;
  }
}


@media only screen and (min-width: 1100px){
  
  
  .mising__img{ 
    width: 100%;
    max-width: 431px;
    height: auto;
    position: absolute;
    z-index: 3;
    top: -70px;
    right: 70px;
  }
}

@media only screen and (min-width: 1240px){
  .mising__wrap{
    width: 100%;
    max-width: 540px;
    text-align: start;
  }
  
  .mising__img {
    width: 100%;
    max-width: 445px;
    height: auto;
    position: absolute;
    z-index: 3;
    top: -85px;
    right: 72px;
  }
  
}

/* ======quarter======= */

.quarter{
  padding-bottom: 120px;
}

.site-title{
  margin: 0;
  margin-bottom: 72px;
  font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #83888F;

}

.quarter__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.quarter__item:not(:last-child){
  margin-bottom: 80px;
}



.quarter__item--one{
 position: relative;
}

.quarter__item--one::before{
  content: "";
   width: 42px;
   height: 49px;
   background-image: url(../images/icons/map-one.svg);
   background-repeat: no-repeat;
   display: block;
   background-position: center;
   margin: 0 auto;
   margin-bottom: 47px;
}

.quarter__item--two{
  position: relative;
 }
 
 .quarter__item--two::before{
   content: "";
    width: 52px;
    height: 50px;
    background-image: url(../images/icons/map-two.svg);
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 47px;
 }

 .quarter__item--thre{
  position: relative;
 }
 
 .quarter__item--thre::before{
   content: "";
    width: 49px;
    height: 44px;
    background-image: url(../images/icons/map-thre.svg);
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 47px;
 }


.quarter__link{
  text-decoration: none;
}

.quarter__title{
  margin: 0;
  margin-bottom: 22px;
  font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 36px;
text-align: center;
color: #333D4B;
}

.quarter__address{
  text-align: center;
}

.address__info{
  display: block;
  text-decoration: none;
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #333D4B;
}

.address__info:not(:last-child){
  margin-bottom: 7px;
}

@media only screen and (min-width: 600px){
 .address__info{
  font-size: 18px;
    line-height: 26px;
 }

}

@media only screen and (min-width: 768px){

  .quarter{
    padding-bottom: 140px;
  }


 .site-title{
  text-align: start;
 }

 .quarter__title{
  text-align: start;
  font-size: 24px;
line-height: 36px;
 }

 .quarter__list{
  display: flex;
 }

 .quarter__item:not(:last-child){
  margin-bottom: 0px;
  margin-right: 70px;
}

 .quarter__address{
  text-align: start;
 }

 .address__info{
  text-align: start;
 }
 
 }

 @media only screen and (min-width: 1024px){

  .quarter{
    padding-bottom: 165px;
  }

  .site-title{
    margin-left: 85px;
  }

  .quarter__list{
    margin-left: 85px;
  }

  .quarter__item:first-child{
    margin-right: 130px;
  }

  .quarter__item:nth-child(2){
    margin-right: 160px;
  }

 }
















/* ========= Footer ======= */

.site-footer{
  padding-bottom: 72px;
}

.site-footer__inner{
  padding: 54px 55px;
  background-color: #2C343E;
}

.down__logo{
  
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
}

.down__images{
  width: 100%;
  max-width: 217px;
  height: auto;
}

.down__list{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 48px;
}

.down__item:not(:last-child){
  margin-bottom: 24px;
}

.down__link{
  text-decoration: none;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.down__menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item:nth-child(2){
  margin-right: 24px;
  margin-left: 24px;
}

.menu__link{
  color: #FEFCF7;
  transition: all 0.3s ease;
}

@media only screen and (min-width:601px){
  .down__list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .down__item:not(:last-child) {
    margin-bottom: 0px;
  }
  
  .down__item:nth-child(2){
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .menu__item:nth-child(2){
    margin-right: 30px;
    margin-left: 30px;
  }
  
}

@media only screen and (min-width:601px){
  .down__images{
    width: 100%;
    max-width: 236px;
    height: auto;
  }
  
  .down__item:nth-child(2){
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .menu__item:nth-child(2){
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media only screen and (min-width:1024px){
  .site-footer__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 85px;
  }
  
  .down__wrap{
    display: flex;
    align-items: center;
  }
  
  .down__logo{
    margin-right: 100px;
  }
  
  .down__list{
    margin-bottom: 0;
  }
  
  .down__logo{
    margin-bottom: 0;
  }
  
  .down__item:nth-child(2){
    margin-right: 33px;
    margin-left: 33px;
  }
  
  .menu__item:nth-child(2){
    margin-right: 24px;
    margin-left: 24px;
  }
  
  .menu__link:hover{
    color: #FDD6BA;
  }
  
}